.button{
    display: inline-block;

    background: #e7403d;
    color: #fff;
    padding: 8px;
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 8px 1px #0000003b;
    transition: all .3s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
    text-align: center;
    width: 23%!important;
}
.btn{
    box-shadow: 5px 10px 8px #888888;
}